.menus-management {
    margin-left: 25px;
}
.menus-management h2 {
    text-decoration: underline;
}
.menus-creation-container {
    width: 100%;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menus-creation-container form {
    width: 50%;
}

/* *************** RESPONSIVE ****************** */
@media screen and (max-width: 1100px) {
    .menus-creation-container {
        width: 80%;
    }
    .menus-creation-container form {
        width: 100%;
    }
}