.menus-management {
    margin-left: 25px;
}
.menus-management h2 {
    text-decoration: underline;
}
.menus-creation-container {
    margin: 25px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.menus-creation-container form {
    width: 75%;
}