.picture-management {
    margin-left: 25px;
}
.picture-management h2 {
    text-decoration: underline;
}
.upload-container {
    margin: 25px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.upload-container form {
    width: 75%;
}