.card {
    width: 355px;
    margin: 15px 25px;
    background-color: #E5B299;
    padding: 25px 15px 10px 15px;
    border-radius: 10px;
    border: 1px solid #000 ;
    box-shadow: 5px 5px 15px #7D5A50 ;
}
.card-title {
    font-size: 1.5rem;
}
.card-image {
    width: 325px;
    padding: 10px 0;

}
.card-image img {
    width: 100%;
    border-radius: 5px;
}
.card-description {
    font-style: italic;
    padding: 5px 0 15px 0;
}
hr {
    border: 1px solid #000;
}
.card-footer {
    margin-top: 10px;
}
.card-price {
    padding: 5px 0;
    font-weight: bold;
}