footer {
    height: 150px;
    background-color: #7D5A50;
    border-top: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-logos, .payment-logos {
    width: 150px;
}
.text-container p {
    color: #f1f1f1;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
        -1px -1px 0 #000;
}
.social-logos img,
.payment-logos img {
    width: 25px;
    margin-right: 25px;
}
.social-logos img:nth-child(1),
.payment-logos img:nth-child(1) {
    width: 20px;
}
.social-logos img:nth-child(2),
.payment-logos img:nth-child(3) {
    margin-right: 0px;
}