.profile-section {
    margin: 25px 0;
}
.profile-section h2 {
    text-decoration: underline;
}
.info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.info {
    width: 25vw;
}
.info-container table {
    border: 2px solid #000;
    border-radius: 10px;
    width: 25vw;
}
.label {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0 10px;
}
.value {
    font-size: 1.2rem;
}

/*********** RESPONSIVE ***************/
@media screen and (max-width: 1280px) {
    .profile-section {
        margin: 25px 35px;
    }
}
@media screen and (max-width: 1100px) {
    .info, .info-container table {
        width: 35vw;
    }
}
@media screen and (max-width: 900px) {
    .info-container {
        flex-direction: column;
        width: 50vw;
        margin: 25px auto;
        
    }
    .info, .info-container table {
        width: 100%;
    }
    .info {
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 768px) {
    .info-container {
        width: 75vw;
    }
}