.contact-section {
    margin: 25px auto;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 2fr 2fr;
}
.phone, 
.mail,
.adress {
    display: flex;
    width: 300px;
    align-items: start;
    margin: 15px 0;
}
.phone img,
.mail img,
.adress img {
    width: 25px;
    margin-right: 25px;
}
.phone p,
.mail p,
.adress address {
    font-size: 1.25rem;
}
.photo-section {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    width: 100%;
}
.photo-section img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7D5A50 ;
}